{% extends "base.html" %}

{% block title %}{{ title }} - {{ config.SITE_TITLE }}{% endblock %}

{% block description %}{{ page_description or config.SITE_DESCRIPTION }}{% endblock %}

{% block header_link %}{{ url_for('mathnotes_index') }}{% endblock %}

{% block content %}
<article>
    {{ content|safe }}
</article>
{% endblock %}

{% block footer %}
<p>&copy; {{ current_year }} Jason Hobbs. All rights reserved. | Version: <a href="https://github.com/jhobbs/mathnotes/blob/{{ app_version }}/{{ source_path }}" target="_blank" rel="noopener">{{ app_version }}</a></p>
{% endblock %}